absl-py==1.4.0
astor==0.8.1
cached-property==1.5.2
click==8.0.4
dataclasses==0.8
Flask==1.1.2
gast==0.5.4
google-pasta==0.2.0
grpcio==1.11.0
gunicorn==21.2.0
h5py==3.1.0
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.7
MarkupSafe==2.0.1
numpy==1.19.5
packaging==21.3
Pillow==6.2.2
protobuf==3.17.3
pyparsing==3.1.1
six==1.16.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
typing_extensions==4.1.1
Werkzeug==2.0.3
wrapt==1.16.0
zipp==3.6.0
